
* {
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
}

.space-mono-regular, #digi-display, .key-class, #digi-modifier {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
}

#main-content {
    width: 550px;
    background-color: grey;
    border-radius: 20px;

    /* Add shading the main area */
    background-image:linear-gradient(to bottom, rgb(53,63,53), rgb(33,43,33));
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
    border: 8px solid rgba(38, 48, 41, 0.381);
    
    display:flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    flex: 0 0 auto;
    
    & > #digi-border {
        background-color: aqua;
        height: 100px;
        border: 4px inset #0d0f0d;
        display:flex;
        /* flex-direction: row-reverse;  */
        overflow: hidden;
        gap:10px;

        & > #digi-modifier {
            flex: 1;
            font-size: 60px;
            padding-left: 4px;
        }
        & > #digi-display {
            flex: 10;
            font-size: 80px;
            padding-right: 10px;
        }

        & > #digi-display, #digi-modifier {
            text-align: right;
            text-shadow: 4px 4px 8px rgba(33,43,33, 0.7);
            
            /* Align text vertically centred and from right edge */
            align-self:center;
            overflow: hidden;
        }        
    }

    & > #key-area {
        background-color: rgb(94, 94, 94);
        border: 2px groove black;
        align-self: center;

        display: flex;
        flex-direction: column;
        gap:10px;

        border-radius: 15px;
        padding: 25px;
    }
}

.key-row {
    gap: 20px;
    display:flex;
}

.key-class {
    width: 75px;
    height: 60px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 15px;

    /* Add shading the key buttons */
    background-image:linear-gradient(to bottom, #333333, black);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
    border: 4px solid #55555544;

    /* Transition hover state - shadow and text color */
    transition: box-shadow 0.8s ease;
    transition: color 0.8s ease;
}

/* Hover over key button transitions shadow and text color
*/
.key-class:hover {
    cursor: pointer;
    box-shadow: 0 0px 0px;
    color: aqua;
}
